{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Bienvenue sur Rest'Horaires.com</h1>
        <h3>Le site des horaires d'ouverture de restaurants</h3>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
